@model List<HarneyCounty.Application.Core.ViewModel.Payroll.PayHrsHistoryViewModel>

@if (Model.Any())
{
    <table class="table table-hover">
        <thead class="upper-case">
            <tr>
                <th>@Html.LabelFor(model => model[0].PayDate)</th>
                <th>@Html.LabelFor(model => model[0].CheckTypeCvd)</th>
                <th>@Html.LabelFor(model => model[0].PaySequence)</th>
                <th>@Html.LabelFor(model => model[0].Check)</th>
                <th>@Html.LabelFor(model => model[0].DirectDepositStatus)</th>
                <th>@Html.LabelFor(model => model[0].GrossPay)</th>
                <th>@Html.LabelFor(model => model[0].NetPayCheck)</th>
                <th>@Html.LabelFor(model => model[0].FedTaxPaid)</th>
                <th>@Html.LabelFor(model => model[0].StateTaxPaid)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PayDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckTypeCvd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaySequence)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Check)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DirectDepositStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrossPay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetPayCheck)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FedTaxPaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StateTaxPaid)
                    </td>
                    <td>
                        <a href="" class="payhistoryDetails" data-url='@Url.Action("Details", "PayHistory", new { id = item.Id })'>Details</a>
                        @*@Html.ActionLink("Details", "Details", "PayHistory", new { id = item.Id }, null)*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <span class="label label-info label-small">No pay history records found for the specified employee</span>
    </div>
}

<div id="payhistoryDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pay History Details</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.payhistoryDetails').click(function (event) {
            event.preventDefault();
            $.LoadingOverlay("show");
            var url = $(this).data('url');
            $.get(url, function (data) {
                $('#payhistoryDetailsModal .modal-body').html(data);
                $('#payhistoryDetailsModal').modal('show');
                $.LoadingOverlay("hide");
            });
        });
    });
</script>