@model HarneyCounty.Application.Core.ViewModel.Employee.EmployeeMasterViewModel

@{
    ViewBag.Title = Model.FullName + " - details";
}

<div>
    <h2>@Model.FullName</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeePosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeePosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeSocSecurity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeSocSecurity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminationDate)
        </dd>
    </dl>
</div>
<p>
    <hr />
</p>
<div class="row">
    <div class="col-md-12">
        <h3>Related Information</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#comments">Comments</a></li>
            <li><a data-toggle="tab" href="#payHistory">Pay History</a></li>
        </ul>

        <div class="tab-content">
            <div id="comments" class="tab-pane fade in active">
                @Html.Partial("_Comments", Model.Comments)
            </div>
            <div id="payHistory" class="tab-pane fade in">
                @Html.Partial("_PayHistory", Model.PayHistory)
            </div>
        </div>
    </div>
</div>