@model IEnumerable<HarneyCounty.Application.Core.ViewModel.Audit.FiscalYearBeginningBalanceViewModel>

@{
    ViewBag.Title = "Fiscal Year Beginning Balance";
}

<h2>Fiscal Year Beginning Balances</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginningBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YtdCollections)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YtdLosses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YtdGains)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YtdBalance)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginningBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YtdCollections)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YtdLosses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YtdGains)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YtdBalance)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |                
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>