@using HarneyCounty.Application.Core.ViewModel.Audit
@model IEnumerable<DailyDetailReportGroupedByTaxYearViewModel>
 @{
     List<decimal> balanceForward = new List<decimal>();
     List<decimal?> grantTotalCurrRcpts = new List<decimal?>();
     List<decimal?> grantTotalStatePercentage = new List<decimal?>();
     List<decimal?> grantTotalPenalities = new List<decimal?>();
     List<decimal?> grantTotalRefundsNsf = new List<decimal?>();
     List<decimal?> grantTotalNetRcpts = new List<decimal?>();
     List<decimal?> grantTotalC12PercentageInterest = new List<decimal?>();
     List<decimal?> grantTotalC16PercentageInterest = new List<decimal?>();
     List<decimal?> grantTotalDiscount = new List<decimal?>();
     List<decimal?> grantTotalNetTaxCr = new List<decimal?>();
     List<decimal?> grantTotalLossesToRoll = new List<decimal?>();
     List<decimal?> grantTotalGainsToRoll = new List<decimal?>();
     }
@foreach (var group in Model)
{
    <h4 class="italic">Tax Year: <mark>@group.TaxYear</mark></h4>
    decimal previousBalance = 0;
    decimal lastBalance = 0;
    
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().CurrRcpts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().StatePercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Penalities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().RefundsNsf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().NetRcpts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().C12PercentageInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().C16PercentageInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().NetTaxCr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().LossesToRoll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().GainsToRoll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().BalanceForward)
            </th>
        </tr>
        @{

            foreach (var item in group.Items)
            {
                if (group.Items[0] == item)
                {
                    item.BalanceForward = item.BeginningBalance + (item.GainsToRoll ?? 0) - (item.LossesToRoll ?? 0) - (item.NetRollChg);
                    previousBalance = item.BalanceForward;
                }
                else
                {
                    item.BalanceForward = previousBalance + (item.GainsToRoll ?? 0) - (item.LossesToRoll.HasValue ? item.LossesToRoll.Value : 0) - (item.NetRollChg);
                    previousBalance = item.BalanceForward;
                }
                if (!item.EntryDateTo.HasValue)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EntryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.CurrRcpts)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.StatePercentage)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Penalities)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.RefundsNsf)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.NetRcpts)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.C12PercentageInterest)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.C16PercentageInterest)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Discount)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.NetTaxCr)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.LossesToRoll)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.GainsToRoll)
                        </td>
                        <td>
                            @{

                                @Html.DisplayFor(model => item.BalanceForward)
                                
                            }
                        </td>
                    </tr>
                }
                else
                {
                    if (item.EntryDate >= item.EntryDateFrom && item.EntryDate <= item.EntryDateTo)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EntryDate)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.CurrRcpts)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.StatePercentage)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Penalities)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.RefundsNsf)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.NetRcpts)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.C12PercentageInterest)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.C16PercentageInterest)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Discount)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.NetTaxCr)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.LossesToRoll)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.GainsToRoll)
                            </td>
                            <td>
                                @{

                                    @Html.DisplayFor(model => item.BalanceForward)
                                    lastBalance = item.BalanceForward;
                                    
                                }
                            </td>
                        </tr>
                    }
                }
            }
        }

        @*Total row*@
        @{
            if (!group.Items.All(t => t.EntryDateTo.HasValue))
            {
                <tr>
                    <td class="bold">Total</td>
                    <td>
                        @group.Items.Sum(t => t.CurrRcpts)
                        @{ grantTotalCurrRcpts.Add(group.Items.Sum(t => t.CurrRcpts));}
                    </td>
                    <td>
                        @group.Items.Sum(t => t.StatePercentage)
                        @{ grantTotalStatePercentage.Add(group.Items.Sum(t => t.StatePercentage));}
                    </td>
                    <td>
                        @group.Items.Sum(t => t.Penalities)
                        @{ grantTotalPenalities.Add(group.Items.Sum(t => t.Penalities));}
                    </td>
                    <td>
                        @group.Items.Sum(t => t.RefundsNsf)
                        @{ grantTotalRefundsNsf.Add(group.Items.Sum(t => t.RefundsNsf));}
                    </td>
                    <td>
                        @group.Items.Sum(t => t.NetRcpts)
                        @{ grantTotalNetRcpts.Add(group.Items.Sum(t => t.NetRcpts));}
                    </td>
                    <td>
                        @group.Items.Sum(t => t.C12PercentageInterest)
                        @{ grantTotalC12PercentageInterest.Add(group.Items.Sum(t => t.C12PercentageInterest));}
                    </td>
                    <td>
                        @group.Items.Sum(t => t.C16PercentageInterest)
                        @{ grantTotalC16PercentageInterest.Add(group.Items.Sum(t => t.C16PercentageInterest));}
                    </td>
                    <td>
                        @group.Items.Sum(t => t.Discount)
                        @{ grantTotalDiscount.Add(group.Items.Sum(t => t.Discount));}
                    </td>
                    <td>
                        @group.Items.Sum(t => t.NetTaxCr)
                        @{ grantTotalNetTaxCr.Add(group.Items.Sum(t => t.NetTaxCr));}
                    </td>
                    <td>
                        @group.Items.Sum(t => t.LossesToRoll)
                        @{ grantTotalLossesToRoll.Add(group.Items.Sum(t => t.LossesToRoll));}
                    </td>
                    <td>
                        @group.Items.Sum(t => t.GainsToRoll)
                        @{ grantTotalGainsToRoll.Add(group.Items.Sum(t => t.GainsToRoll));}
                    </td>
                    <td>
                        @previousBalance
                        @{ balanceForward.Add(previousBalance);}
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td class="bold">Total</td>
                    <td>
                        @group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.CurrRcpts)
                        @{ grantTotalCurrRcpts.Add(group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.CurrRcpts));}
                    </td>
                    <td>
                        @group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.StatePercentage)
                        @{ grantTotalStatePercentage.Add(group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.StatePercentage));}
                    </td>
                    <td>
                        @group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.Penalities)
                        @{ grantTotalPenalities.Add(group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.Penalities));}
                    </td>
                    <td>
                        @group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.RefundsNsf)
                        @{ grantTotalRefundsNsf.Add(group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.RefundsNsf));}
                    </td>
                    <td>
                        @group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.NetRcpts)
                        @{ grantTotalNetRcpts.Add(group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.NetRcpts));}
                    </td>
                    <td>
                        @group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.C12PercentageInterest)
                        @{ grantTotalC12PercentageInterest.Add(group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.C12PercentageInterest));}
                    </td>
                    <td>
                        @group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.C16PercentageInterest)
                        @{ grantTotalC16PercentageInterest.Add(group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.C16PercentageInterest));}
                    </td>
                    <td>
                        @group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.Discount)
                        @{ grantTotalDiscount.Add(group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.Discount));}
                    </td>
                    <td>
                        @group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.NetTaxCr)
                        @{ grantTotalNetTaxCr.Add(group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.NetTaxCr));}
                    </td>
                    <td>
                        @group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.LossesToRoll)
                        @{ grantTotalLossesToRoll.Add(group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.LossesToRoll));}
                    </td>
                    <td>
                        @group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.GainsToRoll)
                        @{ grantTotalGainsToRoll.Add(group.Items.Where(t => t.EntryDate >= t.EntryDateFrom && t.EntryDate <= t.EntryDateTo).Sum(t => t.GainsToRoll));}
                    </td>
                    <td>
                        @if(lastBalance != 0)
                        {
                            @Html.DisplayFor(t => lastBalance)
                            balanceForward.Add(lastBalance);
                        }
                        else
                        {
                            @previousBalance
                            balanceForward.Add(previousBalance);
                        }
                    </td>
                </tr>
            }
        }
    </table>
}

@if (Model.Any())
{
    <h4 class="italic bold-">Grand Total:</h4>

    <table class="table table-hover">
        <tr>
            <td class="bold">Total</td>
            <td>
                @grantTotalCurrRcpts.Sum(t=>t)
            </td>
            <td>
                @grantTotalStatePercentage.Sum(t=>t)
            </td>
            <td>
                @grantTotalPenalities.Sum(t=>t)
            </td>
            <td>
                @grantTotalRefundsNsf.Sum(t=>t)
            </td>
            <td>
                @grantTotalNetRcpts.Sum(t=>t)
            </td>
            <td>
                @grantTotalC12PercentageInterest.Sum(t=>t)
            </td>
            <td>
                @grantTotalC16PercentageInterest.Sum(t=>t)
            </td>
            <td>
                @grantTotalDiscount.Sum(t=>t)
            </td>
            <td>
                @grantTotalNetTaxCr.Sum(t=>t)
            </td>
            <td>
                @grantTotalLossesToRoll.Sum(t=>t)
            </td>
            <td>
                @grantTotalGainsToRoll.Sum(t => t)
            </td>
            <td>
                @balanceForward.Sum(t => t)
                
            </td>
        </tr>
    </table>
}