@model IEnumerable<HarneyCounty.Domain.Core.Models.AuditFiscalYear>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateFiscalYear", new { fiscalYearId = ViewBag.FiscalYearId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FiscalYear)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalYear)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditFiscalYear", new { id = item.Id }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                @Html.ActionLink("Delete", "DeleteFiscalYear", new { id = item.Id }) |
                <span class="dropdown">
                    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        Details
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="@Url.Action("Index", "AuditTurnOverSequence",new { id = item.Id })">
                                TurnOver Sequences
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="@Url.Action("Index", "FiscalYearBeginningBalance", new { fiscalYearId = item.Id })">
                                Beginning Balances
                            </a>
                        </li>
                    </ul>
                </span>
            </td>
        </tr>
    }
</table>