@model IEnumerable<HarneyCounty.Domain.Core.Models.AuditFiscalYear>

@{
    ViewBag.Title = "Fiscal Years";
}

<h2>Fiscal Years</h2>

<p>
    @Html.ActionLink("Create New", "CreateFiscalYear", new { fiscalYearId = ViewBag.FiscalYearId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FiscalYear)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalYear)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditFiscalYear", new { id = item.Id }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                @Html.ActionLink("Delete", "DeleteFiscalYear", new { id = item.Id }) |
                <div class="dropdown" style="cursor:pointer;">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Details
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="@Url.Action("Index", "AuditTurnOverSequence", new { id = item.Id })">
                                TurnOver Sequences
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="@Url.Action("Index", "FiscalYearBeginningBalance", new { fiscalYearId = item.Id })">
                                Beginning Balances
                            </a>
                        </li>
                    </ul>
                </div> |
                @Html.ActionLink("Daily Detail Report", "DailyDetailReport", new { fiscalYearId = item.Id })
                @*<div class="dropdown">
                    <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="">
                        <i class="glyphicon glyphicon-download-alt"></i>&nbsp;&nbsp;Export Daily Detail
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="" target="_blank" href="@Url.Action("ExportBeginingBalancesTemplateAsExcel", "FiscalYearBeginningBalance")">Export To Excel</a></li>
                        <li><a class="" target="_blank" href="@Url.Action("ExportBeginingBalancesTemplateAsPdf", "FiscalYearBeginningBalance")">Export To PDF</a></li>
                    </ul>
                </div>*@
            </td>
        </tr>
    }
</table>