@model HarneyCounty.Application.Core.ViewModel.RealPropertyAccountViewModel
@{
    ViewBag.Title = "Display Real Accounts";
}

<h2>Display Real Accounts</h2>
<hr />
<div class="row details-page">
    <div class="col-md-6">
        <div>
            @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.AccountNumber)
            &nbsp;&nbsp;&nbsp;
            @Html.DisplayFor(model => model.AsmtYear)
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div>
            @Html.LabelFor(model => model.MapId, htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.MapId)
        </div>
        <div class="row">
            <div class="col-md-6 ">
                @Html.LabelFor(model => model.CodeAreaCode, htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.CodeAreaCode)
            </div>
            <div class="col-md-6 ">
                @Html.LabelFor(model => model.ZoningCode, htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.ZoningCode)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ">
                @Html.LabelFor(model => model.MntnAreaCode, htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.MntnAreaCode)
            </div>
            <div class="col-md-4 ">
                @Html.LabelFor(model => model.ValAreaCode, htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.ValAreaCode)
            </div>
            <div class="col-md-4 ">
                @Html.LabelFor(model => model.PropClassCode, htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.PropClassCode)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => model.SbdvnBlckLot, htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.SbdvnBlckLot)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.Split, htmlAttributes: new { @class = "control-label" })
                @*@Html.DisplayFor(model => model.Split)*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => model.SrCitizen, htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.SrCitizen)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.SegragatedFromAcctAcc, htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.SegragatedFromAcctAcc)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.SitusStrtNmbr, htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.SitusStrtNmbr)
            &nbsp;&nbsp;<b>#</b>&nbsp;&nbsp;
            @Html.DisplayFor(model => model.SitusStrtNmbrSufx)&nbsp;
            @Html.DisplayFor(model => model.SitusStrtDir)&nbsp;
            @Html.DisplayFor(model => model.SitusStrtName)&nbsp;
            @Html.DisplayFor(model => model.SitusStrtNameSufx)
        </div>
        <div class="row">
            <div class="col-md-6 ">
                @Html.LabelFor(model => model.Ref, htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.Ref)
            </div>
            <div class="col-md-6 ">
                @Html.LabelFor(model => model.AcctAcres, htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.AcctAcres)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            @Html.LabelFor(model => model.OwnerName, htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.OwnerName)
        </div>
        <div>
            <label class="control-label">C/O</label>
            @Html.DisplayFor(model => model.CareOfFlag)
            &nbsp;&nbsp;&nbsp;
            @Html.DisplayFor(model => model.CareOfName)
        </div>
        <div>
            @Html.LabelFor(model => model.OwnerAdrsNameLine1, htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.OwnerAdrsNameLine1)
        </div>
        <div>
            @Html.LabelFor(model => model.OwnerAdrsLine2, htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.OwnerAdrsLine2)
        </div>
        <div>
            @Html.LabelFor(model => model.OwnerAdrsLine3, htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.OwnerAdrsLine3)
        </div>
        <div>
            @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.ZipCode)
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => model.JournalVoucher, htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.JournalVoucher.JournalVoucherNumber)
            </div>
            <div class="col-md-6 ">
                @Html.LabelFor(model => model.AcctSpecAses, htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.AcctSpecAses)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.SitusZipCode, htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.SitusZipCode)
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => model.FirePtrlAcres, htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.FirePtrlAcres)
            </div>
            <div class="col-md-6 ">
                @Html.LabelFor(model => model.SplitCode, htmlAttributes: new { @class = "control-label" })
                @*@Html.DisplayFor(model => model.SplitCode)*@
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayFor(model => model.CentroidNumber)</th>
                    <th>RWV</th>
                    <th>MAV</th>
                    <th>SAV</th>
                    <th>MSAV/M50</th>
                    <th>TAXABLE AV</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="upper-case bold">Market Land</td>
                    <td>@Html.DisplayFor(model => model.AcctMrktLandTotl)</td>
                    <td></td>
                    <td>
                        @if (Model.IsAccountSpecillyAssessed)
                        { @Html.DisplayFor(model => model.AcctLandAssessTotl)}
                    </td>
                    <td>
                        @if (Model.IsAccountSpecillyAssessed)
                        {@Html.DisplayFor(model => model.MsavBaseNsaLand)}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="upper-case bold">Special Land</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="upper-case bold">Improvements</td>
                    <td>@Html.DisplayFor(model => model.AcctImprMrktValTotl)</td>
                    <td></td>
                    <td>
                        @if (Model.IsAccountSpecillyAssessed)
                        {@Html.DisplayFor(model => model.AcctImprTotl)}
                    </td>
                    <td>
                        @if (Model.IsAccountSpecillyAssessed)
                        {@Html.DisplayFor(model => model.MsavBaseImprovements)}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="upper-case bold">Mfg Structure</td>
                    <td>@Html.DisplayFor(model => model.AcctMobHomeTotl)</td>
                    <td></td>
                    <td>
                        @if (Model.IsAccountSpecillyAssessed)
                        {@Html.DisplayFor(model => model.AcctMobHomeTotl)}
                    </td>
                    <td>
                        @if (Model.IsAccountSpecillyAssessed)
                        {@Html.DisplayFor(model => model.MsavBaseManuStructure)}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="upper-case bold">&nbsp;&nbsp;Sub Total/Base</td>
                    <td>@(Model.AcctMrktLandTotl + Model.AcctImprMrktValTotl + Model.AcctMobHomeTotl)</td>
                    <td></td>
                    <td>
                        @if (Model.IsAccountSpecillyAssessed)
                        {@(Model.AcctLandAssessTotl + Model.AcctImprTotl + Model.AcctMobHomeTotl)}
                    </td>
                    <td>
                        @if (Model.IsAccountSpecillyAssessed)
                        {@(Model.MaxSpecAssessedValue - Model.ExceptionsMsav )}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="upper-case bold">Exceptions</td>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.ExceptionsMav)</td>
                    <td></td>
                    <td>
                        @if (Model.IsAccountSpecillyAssessed)
                        {@Html.DisplayFor(model => model.ExceptionsMsav)}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="upper-case bold">&nbsp;&nbsp;Sub Total</td>
                    @*<td>@(Model.AcctMrktLandTotl + Model.AcctImprMrktValTotl + Model.AcctMobHomeTotl)</td>
                        <td>@(Model.AcctLandAssessTotl + Model.AcctImprTotl + Model.AcctMobHomeTotl)</td>*@
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.TaxableAssessedValue)</td>
                </tr>
                <tr>
                    <td class="upper-case bold">Exemptions</td>
                    <td>@Html.DisplayFor(model => model.ExemptionsMav)</td>
                    <td></td>
                    <td>
                        @if (Model.IsAccountSpecillyAssessed)
                        {@Html.DisplayFor(model => model.ExemptionsMsav)}
                    </td>
                    <td>
                        @if (Model.IsAccountSpecillyAssessed)
                        {@Html.DisplayFor(model => model.AcctExmpTotal)}
                    </td>
                    <td>@Html.DisplayFor(model => model.AcctExmpTotal)</td>
                </tr>
                <tr>
                    <td class="upper-case bold">@ViewBag.Year Totals</td>
                    <td>@(Model.AcctMrktLandTotl + Model.AcctImprMrktValTotl + Model.AcctMobHomeTotl)</td>
                    <td>@Html.DisplayFor(model => model.MaximumAssessedValue)</td>
                    <td>
                        @if (Model.IsAccountSpecillyAssessed)
                        {@(Model.AcctLandAssessTotl + Model.AcctImprTotl + Model.AcctMobHomeTotl)}
                    </td>
                    <td>
                        @if (Model.IsAccountSpecillyAssessed)
                        {@Html.DisplayFor(model => model.MaxSpecAssessedValue)}
                    </td>
                    <td>@Html.DisplayFor(model => model.TaxableAssessedValue)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Related Information</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#lands">Land</a></li>
            <li><a data-toggle="tab" href="#improvements">Improvements</a></li>
            <li><a data-toggle="tab" href="#comments">Comments</a></li>
            <li><a data-toggle="tab" href="#legals">Legal</a></li>
            <li><a data-toggle="tab" href="#flags">Flags</a></li>
            <li><a data-toggle="tab" href="#ownershipHistory">Ownership History</a></li>
            <li><a data-toggle="tab" href="#sales">Sales</a></li>
            <li><a data-toggle="tab" href="#exceptions">Exceptions</a></li>
        </ul>

        <div class="tab-content">
            <div id="lands" class="tab-pane fade in active">
                @Html.Partial("LandAssessment/_LandAssessmentHeader", Model.LandAssessments)
                @Html.Partial("LandAssessment/_MarketLandAssessments", Model.MarketLandAssessments)
                @Html.Partial("LandAssessment/_SpecialLandAssessments", Model.SpecialLandAssessments)
                @Html.Partial("LandAssessment/_MsavLandAssessments", Model.MsavLandAssessments)
            </div>
            <div id="improvements" class="tab-pane fade in">
                @Html.Partial("_Improvements", Model.Improvements)
            </div>
            <div id="comments" class="tab-pane fade in ">
                @Html.Partial("_Comments", Model.Comments)
            </div>
            <div id="legals" class="tab-pane fade in ">
                @Html.Partial("_Legals", Model.Legals)
            </div>
            <div id="flags" class="tab-pane fade in ">
                @Html.Partial("_Flags", Model.Flaggings)
            </div>
            <div id="ownershipHistory" class="tab-pane fade in ">
                @Html.Partial("_OwnershipHistory", Model.OwnershipHistory)
            </div>
            <div id="sales" class="tab-pane fade in ">
                @Html.Partial("_Sales", Model.Sales)
            </div>
            <div id="exceptions" class="tab-pane fade in ">
                @Html.Partial("_Exceptions", Model.Exceptions)
            </div>
        </div>
    </div>
</div>