@using X.PagedList
@using X.PagedList.Mvc
@using HarneyCounty.Application.Core.Contracts;
@using HarneyCounty.Web.ViewModel;
@model IEnumerable<HarneyCounty.Web.ViewModel.AccountMasterViewModel>

@{
    ViewBag.Title = "Search";
    var filterViewModel = ViewBag.FilterViewModel as SearchCriteria;
    var displayResults = (bool)ViewBag.DisplayResults;
}

<h2>Search</h2>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <table class="table">

                <tr>@Html.ValidationSummary(true)</tr>

                <tr class="row">
                    <td>
                        @Html.LabelFor(model => filterViewModel.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => filterViewModel.AccountNumber, null, "accountnumber", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => filterViewModel.AccountNumber, "", new { @class = "text-danger", data_valmsg_for = "accountnumber" })
                        </div>
                    </td>
                    <td>
                        @Html.LabelFor(model => filterViewModel.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => filterViewModel.Year, null, "year", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => filterViewModel.AccountNumber, "", new { @class = "text-danger", data_valmsg_for = "year" })
                        </div>
                    </td>
                </tr>

                <tr class="row">
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.OwnerName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.OwnerName, null, "ownername", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => filterViewModel.OwnerName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.SitusNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.SitusNumber, null, "situsnumber", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => filterViewModel.SitusNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.SitusStreetName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.SitusStreetName, null, "situsStreetName", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => filterViewModel.SitusStreetName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.SitusNumberSuffix, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.SitusNumberSuffix, null, "situsnumbersuffix", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.SitusDirectory, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.SitusDirectory, null, "situsdirectory", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.SitusZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.SitusZipCode, null, "situszipcode", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.SubDivCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.SubDivCode, null, "subdivcode", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.LotNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.LotNumber, null, "lotnumber", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.BlockNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.BlockNumber, null, "blocknumber", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.Twnshp, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.Twnshp, null, "twnshp", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.TwnshpDir, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.TwnshpDir, null, "twnshpdir", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.Range, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.Range, null, "range", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.RangDir, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.RangDir, null, "rangdir", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.Sctn, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.Sctn, null, "sctn", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.QtrSctn, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.QtrSctn, null, "qtrsctn", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.Prcl, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.Prcl, null, "prcl", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.SpecIntAlph, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.SpecIntAlph, null, "specintalph", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.SpecIntNmbr, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.SpecIntNmbr, null, "specintnmbr", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.XNmbr, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.XNmbr, null, "xnmbr", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.MobileHomeId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.MobileHomeId, null, "mobilehomeid", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.MobHomeMnfr, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.MobHomeMnfr, null, "mobhomemnfr", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.MHSerial, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.MHSerial, null, "mhserial", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.CodeArea, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.CodeArea, null, "codearea", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td>
                        <div>
                            @Html.LabelFor(model => filterViewModel.PropertyClass, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => filterViewModel.PropertyClass, null, "propertyclass", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                    </tr>
                <tr>
                    <td>
                        <div>
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Filter" class="btn btn-success" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
@if (displayResults)
{
    var searchByOwnerName = new HomePageViewModel { SearchCriteria  = filterViewModel, Data  = Model.ToList()};
    if (!string.IsNullOrWhiteSpace(filterViewModel.OwnerName) || !string.IsNullOrWhiteSpace(filterViewModel.AccountNumber))
    {
        Html.RenderPartial("~/Views/Shared/_SearchByOwnerName.cshtml", searchByOwnerName);
    }
    else if (!string.IsNullOrWhiteSpace(filterViewModel.SitusNumber) || !string.IsNullOrWhiteSpace(filterViewModel.SitusNumberSuffix)
        || !string.IsNullOrWhiteSpace(filterViewModel.SitusDirectory) || !string.IsNullOrWhiteSpace(filterViewModel.SitusStreetName)
        || !string.IsNullOrWhiteSpace(filterViewModel.SitusZipCode))
    {
        Html.RenderPartial("~/Views/Shared/_SearchBySitus.cshtml", searchByOwnerName);
    }
    else if (!string.IsNullOrWhiteSpace(filterViewModel.SubDivCode) || filterViewModel.BlockNumber.HasValue || filterViewModel.LotNumber.HasValue)
    {
        Html.RenderPartial("~/Views/Shared/_SearchBySubBlockLot.cshtml", searchByOwnerName);
    }
    else if (!string.IsNullOrWhiteSpace(filterViewModel.XNmbr) || filterViewModel.MobileHomeId.HasValue)
    {
        Html.RenderPartial("~/Views/Shared/_SearchByXNumberOrMobileHomeId.cshtml", searchByOwnerName);
    }
    else if (!string.IsNullOrWhiteSpace(filterViewModel.MobHomeMnfr) || !string.IsNullOrWhiteSpace(filterViewModel.MHSerial))
    {
        Html.RenderPartial("~/Views/Shared/_SearchByMobileHomeManufacturerOrMobileSerial.cshtml", searchByOwnerName);
    }
    else if (!string.IsNullOrWhiteSpace(filterViewModel.PropertyClass))
    {
        Html.RenderPartial("~/Views/Shared/_SearchByPropertyClass.cshtml", searchByOwnerName);
    }
    else if (!string.IsNullOrWhiteSpace(filterViewModel.CodeArea))
    {
        Html.RenderPartial("~/Views/Shared/_SearchByCodeArea.cshtml", searchByOwnerName);
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
