@using X.PagedList
@using X.PagedList.Mvc
@using HarneyCounty.Application.Core.Contracts;
@model IEnumerable<HarneyCounty.Application.Core.ViewModel.AccountMasterDetailsViewModel>

@{
    var filterViewModel = ViewBag.FilterViewModel as SearchCriteria;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MapId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rl)
        </th>
        <th></th>
    </tr>

    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MapId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rl)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { year = item.AsmtYear, accountNumber = item.AccountNumber })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="8">
                <h4>
                    <span class="label label-info">No data match the search criteria!</span>
                </h4>
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new
{
    page,
    searchby = (int)filterViewModel.SearchBy,
    year = filterViewModel.Year,
    accountnumber = filterViewModel.AccountNumber,
    ownername = filterViewModel.OwnerName,
}))