@using X.PagedList
@using X.PagedList.Mvc
@using HarneyCounty.Application.Core.Contracts;
@using HarneyCounty.Web.Extensions;
@using HarneyCounty.Application.Core.Contracts;
@using HarneyCounty.Web.ViewModel;
@using HarneyCounty.Application.Core.Contracts.Paging;
@using System.Linq;
@using X.PagedList
@using X.PagedList.Mvc
@using HarneyCounty.Application.Core.Contracts;
@using HarneyCounty.Web.ViewModel;
@model HarneyCounty.Web.ViewModel.HomePageViewModel

@{
    var filterViewModel = ViewBag.FilterViewModel as SearchCriteria;
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SearchCriteria.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchCriteria.SubDivCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchCriteria.BlockNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchCriteria.LotNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchCriteria.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data[0].PropClassCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data[0].CodeAreaCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data[0].Rl)
        </th>
        <th></th>
    </tr>

    @if (Model != null && Model.Data != null && Model.Data.Any())
    {
        foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SbdvnCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlckNmbr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LotNmbr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropClassCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeAreaCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rl)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.AccountNumber })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="7">
                <h4>
                    <span class="label label-info">No data match the search criteria!</span>
                </h4>
            </td>
        </tr>
    }
</table>
@if (Model != null && Model.Data != null)
{

    var viewmodel = Model.Data.ToMappedPagedList<AccountMasterViewModel, AccountMasterViewModel>(new PagingInfo { PageNumber = 1 });

    @Html.PagedListPager((IPagedList)viewmodel, page => Url.Action("Index", new
{
    page,
    accountnumber = Model.SearchCriteria.AccountNumber,
    //year = filterViewModel.Year,
    //ownername = filterViewModel.OwnerName,
    //situsnumber = filterViewModel.SitusNumber,
    //situsnumbersuffix = filterViewModel.SitusNumberSuffix,
    //situsdirectory = filterViewModel.SitusDirectory,
    //situszipcode = filterViewModel.SitusZipCode,
    //subdivcode = filterViewModel.SubDivCode,
    //lotnumber = filterViewModel.LotNumber,
    //blocknumber = filterViewModel.BlockNumber,
    //twnshp = filterViewModel.Twnshp,
    //twnshpdir = filterViewModel.TwnshpDir,
    //range = filterViewModel.Range,
    //rangdir = filterViewModel.RangDir,
    //sctn = filterViewModel.Sctn,
    //qtrsctn = filterViewModel.QtrSctn,
    //prcl = filterViewModel.Prcl,
    //specintalph = filterViewModel.SpecIntAlph,
    //specintnmbr = filterViewModel.SpecIntNmbr,
    //xnmbr = filterViewModel.XNmbr,
    //mobilehomeid = filterViewModel.MobileHomeId,
    //mobhomemnfr = filterViewModel.MobHomeMnfr,
    //mhserial = filterViewModel.MHSerial,
    //codearea = filterViewModel.CodeArea,
    //propertyclass = filterViewModel.PropertyClass
}))
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


