@using X.PagedList
@using X.PagedList.Mvc
@using HarneyCounty.Application.Core.Contracts;
@model IEnumerable<HarneyCounty.Application.Core.ViewModel.AccountMasterDetailsViewModel>

@{
    var filterViewModel = ViewBag.FilterViewModel as SearchCriteria;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MapId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropClassCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodeAreaCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RollType)
        </th>
        <th></th>
    </tr>

    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MapId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropClassCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeAreaCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RollType)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.AccountNumber })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="8">
                <h4>
                    <span class="label label-info">No data match the search criteria!</span>
                </h4>
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new
{
    page,
    searchby = (int)filterViewModel.SearchBy,
    year = filterViewModel.Year,
    accountnumber = filterViewModel.AccountNumber,
    twnshp = filterViewModel.Twnshp,
    twnshpdir = filterViewModel.TwnshpDir,
    range = filterViewModel.Range,
    rangdir = filterViewModel.RangDir,
    sctn = filterViewModel.Sctn,
    qtrsctn = filterViewModel.QtrSctn,
    prcl = filterViewModel.Prcl,
    specintalph = filterViewModel.SpecIntAlph,
    specintnmbr = filterViewModel.SpecIntNmbr
}))