@using X.PagedList
@using X.PagedList.Mvc
@using HarneyCounty.Application.Core.Contracts;
@model IEnumerable<HarneyCounty.Web.ViewModel.AccountMasterViewModel>

@{
    var filterViewModel = ViewBag.FilterViewModel as SearchCriteria;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SitusStrtNmbr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SitusStrtNmbrSufx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SitusStrtDir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SitusStrtName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SitusStrtNameSufx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SitusZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th></th>
    </tr>

    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SitusStrtNmbr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SitusStrtNmbrSufx)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SitusStrtDir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SitusStrtName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SitusStrtNameSufx)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SitusZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.AccountNumber })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="8">
                <h4>
                    <span class="label label-info">No data match the search criteria!</span>
                </h4>
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new
{
    page,
    year = filterViewModel.Year,
    accountnumber = filterViewModel.AccountNumber,
    situsNumber = filterViewModel.SitusNumber,
    situsNumberSuffix = filterViewModel.SitusNumberSuffix,
    situsDirectory = filterViewModel.SitusDirectory,
    situsStrtName = filterViewModel.SitusStreetName,
    situsZipCode = filterViewModel.SitusZipCode
}))